#app-container {
    display: flex;
    flex-direction: row;
    background: #d7d7d7;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#app {
    width: 40vw;
    height: 100vh;
    background: #333333;
    margin: 0;
}

#db-top-bar {
    display: flex;
    flex-direction: row;
    height: 45px;
}

#db-reload-btn {
    display: inline-block;
    background: #a3b86b;
    color: white;
    font-size: 1.5em;
    height: 45px;
    width: 45px;
    text-align: center;
    vertical-align: middle;
    padding: 0.1em;
}

#db-cursor-name {
    width: 100%;
    background: #51504f;
    color: #e0b662;
    border: none;
}

#table-wrapper {
    height: calc(100vh - 45px);
    overflow: scroll;
}

#python-exec-wrapper {
    width: calc(60vw - 14px);
    height: 100vh;
    margin: 0;
}

#python-input-exec {
    position: relative;
    z-index: 2;
    border: 1px solid grey;
    width: 100%;
    height: 83%;
    max-height: 83vh;
}

#python-run-btn-exec {
    position: absolute;
    visibility: hidden;
    font-family: Consolas, "Courier New", monospace;
    right: 0;
    bottom: 0;
    z-index: 4;
    border: none;
    font-size: 1.5em;
    background: #018786;
    width: 4em;
    height: 2em;
    color: white;
    vertical-align: middle;
    text-align: center;
}

#file-upload {
    position: absolute;
    visibility: hidden;
    font-family: Consolas, "Courier New", monospace;
    right: 5em;
    bottom: 0;
    z-index: 4;
    border: none;
    font-size: 1.5em;
    background: #c87955;
    width: 6em;
    height: 2em;
    color: white;
    vertical-align: middle;
    text-align: center;
}

#python-exec-error {
    position: absolute;
    visibility: hidden;
    font-family: Consolas, "Courier New", monospace;
    background: #333333;
    color: #ab4343;
    width: 100%;
    height: 35%;
    bottom: 0;
    z-index: 3;
}

#python-result-exec {
    height: 17%;
    margin: 0;
    width: 100%;
    max-height: 17vh;
}

#hide-text-area {
    display: block;
    visibility: hidden;
    width: 2em;
    height: 2em;
    border: none;
    margin: 0 0 auto auto;
    background: white;
    color: #ab4343;
    position: absolute;
    top: 65%;
    right: 0;
    z-index: 5;
}

.null {
    color: #d4d4d4;
}

.table-summary {
    list-style: none;
    cursor: pointer;
    padding: 20px;
    background: #e4e4e4;
    color: #242323;
    font-weight: bold;
    border-bottom: 1px solid #ccc;

}

.table-summary::-webkit-details-marker {
    display: none;
}

.table-summary::before {
    font-family: FontAwesome;
    content: '\f067';
    margin-right: 20px;
}

.table-detail[open] summary::before {
    content: '\f068';
}

.table-body table.vgt-table {
    padding-left: 1em;
    font-size: 0.8em !important;
}

.focus {
    float: right;
    border: 1px solid #51504f;
    width: 2.5em;
    border-radius: 0.2em;
    vertical-align: middle;
    text-align: center;
    top: -0.75em;
}

.hidden {
    display: none !important;
}

#db-focus-bar {
    display: flex;
    flex-direction: row;
    height: 45px;
    vertical-align: middle;
}

#close-focus-btn {
    display: inline-block;
    background: #6bacb8;
    color: white;
    font-size: 1.5em;
    height: 45px;
    width: 45px;
    text-align: center;
    vertical-align: middle;
    padding: 0.1em;
}

#focus-table-name {
    width: 100%;
    background: #51504f;
    color: #d7d7d7;
    border: none;
}

.num-label {
    background: #51504f;
    border: none;
    color: #a99360;
    vertical-align: middle;
    display: inline-block;
    font-size: 0.8em;
}

#data-wrapper {
    height: calc(100vh - 45px);
    overflow: scroll;
}

.data-row > td {
    max-height: 4em;
}

#db-focus-wrapper {
    display: flex;
    flex-direction: column;
}

#query-input {
    width: calc(100% - 17em);
}

.setting-label {
    background: #51504f;
    border: none;
    color: #a99360;
    vertical-align: middle;
    display: inline-block;
    font-size: 0.8em;
    width: 10em;
    margin: 0;
}

.query-error {
    background: #ae6161;
    color: #c6b66c;
}

#query-wrapper {
    background: #51504f;
}